#head1 {
    color:green
}


#head2{
    color: yellow;
}

.para1{
    background-color: gainsboro;
}

.text-para1{
    color: white;
}

.para2{
    background-color: lightblue;
}


h3{
    color:red
}

#c1{
    color:green
}

.c1{
    color: pink;
}